body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(17, 23, 33, 1);
  color: rgba(252, 252, 252, 1);
  margin-bottom: 300px; /* Adjust this value to add more or less space at the bottom */
}

header {
  background-color: #333;
  padding: 1.5rem;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu li {
  flex-shrink: 0;
  margin: 0 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.superset-group {
  position: relative;
  display: inline-block;
}

.superset-bracket {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  padding-left: 5px;
  transform: translateY(-50%);
}

.bracket-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #f00;
}

.bracket-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 2px;
  background-color: #f00;
}

.bracket-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 2px;
  background-color: #f00;
}

.superset-circle {
  position: absolute;
  left: -10px;
  top: 50%;
  width: 24px;
  height: 24px;
  background-color: #f00;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  transform: translateY(-50%);
  z-index: 1;
}

.workout {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}
.movement {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 20px;
}
.explanation {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 20px;
  color: rgba(252, 252, 252, 0.9); /* slightly faded text color */
}
.movement-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.movement-description {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reps-sets {
  color: #f00;
  margin-right: 1rem;
}
.superset-label {
  font-weight: bold;
  color: #f00;
  margin-right: 1rem;
}
.movement-description a {
  text-decoration: none;
  color: inherit;
}

label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.dropdown {
  display: none;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .movement-content {
    width: 25%;
  }
}

.toggle-dropdown {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  color:white;
}

.set-checkbox {
  margin-right: 35px;
  margin-bottom: 35px;
}

#set-tracker {
  margin-bottom: 10px;
  margin-top: 30px;
}

.timer-container {
  text-align: center; /* center align the timer */
  padding: 2rem; /* add more padding */
  margin: 0 auto 1rem; /* add auto margin to the left and right to center the container, and more margin at the bottom */
  background-color: #090c11; /* set a background color */
  border-radius: 20px; /* round the corners */
  max-width: 300px; /* limit the width */
}

.timer-display {
  font-size: 6rem; /* increase the font size */
  color: rgba(252, 252, 252, 1); /* set the text color */
  font-weight: bold; /* make the text bold */
  margin-bottom: 1rem; /* add some margin at the bottom */
}

.timer-btn {
  font-size: 1.2rem; /* increase the font size */
  padding: 0.5rem 1rem; /* add some padding */
  margin: 0 0.5rem; /* add some margin */
  background-color: rgba(252, 252, 252, 1); /* set a background color */
  color: rgba(17, 23, 33, 1); /* set the text color */
  border: none; /* remove the border */
  border-radius: 5px; /* round the corners */
}

.timer-btn:hover {
  background-color: rgba(252, 252, 252, 0.8); /* set a hover background color */
  cursor: pointer; /* change the cursor on hover */
}

.set-tracker-button {
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px 10px; /* adjust this line */
  border: none;
  background-color: #cc0000;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.set-tracker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  min-height: 60px;
}

input[type='checkbox']:not(.set-checkbox) {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 5px; /* For the square shape */
  position: relative;
  -webkit-appearance: none; /* for Chrome and Safari */
  -moz-appearance: none; /* for Firefox */
  appearance: none; /* Standard */
  outline: none;
}

input[type='checkbox']:not(.set-checkbox)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #cc0000;
  border-radius: 5px; /* For the square shape */
  transform: translate(-50%, -50%);
  opacity: 0;
}

input[type='checkbox']:not(.set-checkbox):checked::before {
  opacity: 1;
}

input[type='checkbox']:not(.set-checkbox):checked {
  background-color: #cc0000;
}

/* Specific style for set-tracker checkboxes */
.set-checkbox {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Keep this round */
  -webkit-appearance: none; /* for Chrome and Safari */
  -moz-appearance: none; /* for Firefox */
  appearance: none; /* Standard */
  outline: none;
  background: #fff;
  position: relative;
}

.set-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #cc0000;
  border-radius: 50%; /* Keep this round */
  transform: translate(-50%, -50%);
  opacity: 0;
}

.set-checkbox:checked::before {
  opacity: 1;
}

.set-checkbox:checked {
  background-color: #cc0000;
}

#set-tracker-container h2 {
  padding-left: 5px; /* Adjust this value as needed */
}

@media (min-width: 768px) {
  .menu {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .description {
    padding-left: 1rem;
    font-size: 1.2rem;
    color: #333;
  }
}

.checkbox-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.set-checkbox {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.set-checkbox-label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #000;
}

.set-checkbox:checked + .set-checkbox-label {
  background: #cc0000;
  color: #fff;
}

@media (max-width: 600px) {
  .checkbox-wrapper {
    margin-bottom: 50px;
  }
}

.mark-set-button {
  font-size: 1.2rem; /* increase the font size */
  padding: 0.75rem 1.5rem; /* add more padding */
  margin: 1rem auto; /* add margin and center the button */
  display: block; /* block display will make the button center align with the 'auto' margin */
}

.undo-button {
  font-size: 1.1rem; /* increase the font size */
  padding: 0.65rem 1.25rem; /* add more padding */
  margin: 1rem 0 1rem auto; /* add margin and center the button to the left */
  display: block; /* block display will make the button center align with the 'auto' margin */
}
